body {
    font-family:"Raleway";
}
nav{
    text-align: center;
}
a{
    text-decoration: none;
    margin: 8%;
}

.index{
    background-color: rgb(20, 220, 170);
    width: 100%;
    height: 600px;
   }
.text {
    width: 500px;
    text-align: justify;
   
 
}
.ilumujer {
    display: block;
    margin-left: 55%;
 /*esto es un comentario*/
   }



